$color-black: rgb(0, 0, 0);

$default-font-size: 1.6rem;

$color-white: hsl(0, 0%, 98%);
$element-light-mode: hsl(0, 0%, 100%);
$text-light-mode: hsl(200, 15%, 8%);
$input-light-mode: hsl(0, 0%, 52%);

$card-bg: rgb(231, 73, 16);
