.top-news {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__content {
    //height: 10rem;
    padding: 3.5rem;
    width: 38rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($card-bg, 0.8),
      rgba($color-white, 0.8)
    );
    margin: 2rem;
    text-align: left;
    border-radius: 2rem;
    transition: all 0.3s;

    position: relative;

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 1.5rem 2rem rgba($color-black, 0.8);
    }
  }

  &__img {
    height: 10rem;
    width: 30rem;
    border-radius: 3px;
  }

  &__btn {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;

    margin-top: 4.5rem;
  }
}
