.accordion {
  section {
    p {
      display: none;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  section:target {
    p {
      display: flex;
      flex-wrap: wrap;
    }

    a {
      display: none;
    }
  }
}
